body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  margin: auto;
  padding: 70px 90px;
  width: 100%;
  min-width: 576px;
  max-width: 992px;
  background-color: #d4e6fe;
}
.white {
  text-align: center;
  background-color: #fff;
  padding: 20px 70px;
}

.heading {
  text-align: left;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 100;
  letter-spacing: -2px;
  color: blue;
  margin-bottom: 30px;
}

input {
  float: left;
  margin: 10px 0;
  padding: 20px;
  width: calc(50% - 10px);
  border-radius: 8px;
  background: linear-gradient(#e7e9fe, #dce1ff);
  border: none;
  transition: box-shadow 0.3s ease-out;
}
input:focus,
textarea:focus {
  outline: 2px solid #949fed;
}
input:hover,
textarea:hover {
  box-shadow: -3px 5px 8px #c8c8cb;
}
.mr {
  margin-right: 20px;
}
input:last-of-type {
  width: 100%;
  padding: 25px;
  margin-bottom: 20px;
  background: linear-gradient(#c7cdfd, #c7cdfd);
}
input::placeholder,
textarea::placeholder {
  color: blue;
  font-size: 16px;
}
textarea.message {
  overflow: hidden;
  height: 100px;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  border: none;
  outline: 1px solid #a5afed;
  background: linear-gradient(#a5afed, #a5afed);
  transition: all 0.3s ease-out;
  resize: none;
}
.submit {
  padding: 12px 40px;
  border-radius: 30px;
  background-color: blue;
  color: #fff;
  border: none;
  margin-top: 25px;
  /* margin-left: 50%;
  transform: translate(-50%); */
  transition: all 0.3s ease-out;
}
.submit:hover {
  cursor: pointer;
  background-color: #4343f8;
  box-shadow: -3px 5px 8px #b9b9bc;
  box-shadow: -3px 5px 8px #b9b9bc;
}
.submit:active {
  box-shadow: -5px 8px 10px #aaaaaa;
  transform: translate(-1px, 1px);
}
p {
  text-align: left;
  margin: 15px 0 5px 0;
  color: #05bd8b;
}
